.add {
    width: 70px;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-img-upload {
    width: 120px;
}

.add-product-name, .add-product-description {
    width: max(50%, 280px);
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    display: flex;
    width: 100%;
    gap: 50px;
}

.add-category-price select, .add-category-price input {
    max-width: 120px;
    padding: 10px;
}

.add-button {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}